
spotify-clone/\.vs/

spotify-clone/packages/

spotify-clone/spotify-clone/ApplicationInsights\.config

spotify-clone/spotify-clone/favicon\.ico

spotify-clone/spotify-clone/Global\.asax

spotify-clone/spotify-clone/Global\.asax\.cs

spotify-clone/spotify-clone/packages\.config

spotify-clone/spotify-clone/spotify-clone\.csproj

spotify-clone/spotify-clone/spotify-clone\.csproj\.user

spotify-clone/spotify-clone/Web\.config

spotify-clone/spotify-clone/Web\.Debug\.config

spotify-clone/spotify-clone/Web\.Release\.config
