
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<form method="POST" action="/Upload/UploadFile">
    <div class="form-group">
        Artist
        <input type="text" class="form-control" name="artist">
    </div>
    
    <div class="form-group">
        Album
        <input type="text" class="form-control" name="album">
    </div>

    <div class="form-group">
        <input id="fileupload" name="fileupload" type="file" multiple />
    </div> 
    
    <button class="btn btn-primary" type="submit">Upload Song</button>
</form>



